/* Reset/Normalize */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

body {
	font-family: 'Sarala', cursive;
}

body.app { 
	background: #000 url(../images/concierge.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.calling-lift {
	background: #000 url(../images/elevator.jpg) no-repeat center center fixed; 
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.container {}

h1 {position: fixed; top: 4px; left: 4px; font-size: 40px; color: #fff; text-shadow: 2px 2px #000; padding: 6px 12px;}

.user {position: fixed; top: 11px; right: 110px; font-size: 20px; color: #fff; text-shadow: 2px 2px #000; padding: 6px 12px;}
.signout-button {position: fixed; top: 2px; right: 2px;}

.concierge {position: relative; width: 50%; min-width: 350px; margin: 120px auto 0; background-color: #fff; border: 2px solid #444; border-radius: 10px; padding: 18px; opacity: .95; box-shadow: 3px 3px 3px #000; text-align: center;}
.concierge .message {}
.concierge .message h2 {font-size: 28px; font-weight: bold;}
.concierge .message p {font-size: 18px; font-weight: bold; color: #444; margin: 10px 0 20px;}
.concierge input {display: inline-block; font-size: 20px; width: 200px; text-align: center;}
button {display: inline-block; background-color: #096; border: 2px solid #063; border-radius: 4px; padding: 6px 12px; font-size: 16px; color: #fff; font-weight: bold; cursor: pointer; margin: 6px 10px;}
button:hover {background-color: #fff; color: #096;}
button:active {background-color: #efe; color: #096;}

.call-lift button {background-color: #c33; border: 2px solid #900; color: #fee; font-size: 40px; padding: 20px; margin: 15px;}
.call-lift button:hover {background-color: #a00;}
.call-lift button:active {background-color: #800;}

#lobbyboy {position: fixed; bottom: 0; right: 0; width: 100%; max-width: 480px;}
#lobbyboy img {display: block; width: 100%;}